/* 
    Created on : Mar 8, 2014, 11:14:32 AM
    Author     : jaap
*/

/* 
 * Standard stylesheet for mobile first
 *
 */

/* ---------- Basic Layout Styles ----------- */

html,
body  {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

img {
    width: 100%;
}

#content .content .content {
    padding: 20px 10px 40px 10px;
    margin: 0px 0px 20px 0px;
}

#page_top,
#branding {
    margin: 0px 10px;
}


#content .views-row {
    padding: 40px 0px;
    margin: 0px 0px 20px 0px;
}
#content .views-row .views-field {
    padding: 0px 10px;
}
#content .views-row .views-field-field-tags {
    margin-top: 30px;
    border-top: 1px solid #f7f7f7;
    padding-top: 30px;
}

#content #page-title {
    margin: 0px;
    padding: 20px 10px 0px 10px;
}    
#content .block-webform .content {
    padding: 40px 10px;
    margin: 0px 0px 20px 0px;
}
#content .content .content {
    padding: 20px 10px 40px 10px;
    margin: 0px 0px 20px 0px;
}
#sidebar-first .block .content,
#sidebar-second .block .content {
    padding: 40px 10px;
    margin: 0px 0px 20px 0px;
}

#footer-wrapper {
    padding: 30px 0px;
}

#footer-wrapper .block .content {
    margin: 10px;
}