
/* ---------- Basic Layout Styles ----------- */

html,
body  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}
#page_top {
    min-height: 40px;
    overflow: hidden;
    margin: 0px;
}
#branding {
    min-height: 85px;
    overflow: hidden;
    margin: 0px;
}
#header {
    overflow: hidden;
    min-height: 80px;
    position: relative;
}
#page_top div.section,
#branding div.section,
#header div.section,
#breadcrumb div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.region-header {
}
.with-secondary-menu .region-header {
}
.without-secondary-menu .region-header {
}
#secondary-menu {
}
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.two-sidebars #content,
.one-sidebar #content {
  width: 700px;
  margin: 10px;
  float: right;
}
.no-sidebars #content {
  width: 1100px;
  float: none;
  margin: 10px;
}
#sidebar-first,
#sidebar-second {
  width: 380px;
  margin: 10px;
}
#main-wrapper {
}
#content .section,
.sidebar .section {
}
#breadcrumb {
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
}
#footer-wrapper {
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn{
    width: 300px;
    margin: 0px 10px;
}
.region-footer-firstcolumn {
    margin-right: 50px;
}
.region-footer-secondcolumn {
    margin-left: 50px;
    margin-right: 50px;
}
.region-footer-thirdcolumn {
    margin-left: 50px;
}
#footer {
}
#content .views-row {
    padding: 40px 0px;
    margin: 0px 0px 20px 0px;
}
#content .views-row .views-field {
    padding: 0px 50px;
}
#content .views-row .views-field-field-tags {
    margin-top: 30px;
    border-top: 1px solid #f7f7f7;
    padding-top: 30px;
}

#content #page-title {
    margin: 0px;
    padding: 20px 50px 20px 50px;
}
#content .block-webform .content {
    padding: 40px 50px;
    margin: 0px 0px 20px 0px;
}
#content .content .content {
    padding: 20px 50px 40px 50px;
    margin: 0px 0px 20px 0px;
}
#sidebar-first .block .content,
#sidebar-second .block .content {
    padding: 40px;
    margin: 0px 0px 20px 0px;
}
#footer-wrapper {
    padding: 30px 0px;
}

#footer-wrapper .block .content {
    margin: 0px;
}