a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
  position: absolute;
  bottom: 0px;
}
#main-menu-links {
  margin: 0;
  padding: 0px;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#main-menu-links a {
  float: left; /* LTR */
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* ---------------- Tags en expertise in blokken ----------------- */
.views-field-field-tags .views-label {
    line-height: 30px;
    margin: 1px 0px 6px 0px;
}
.views-field-field-tags .field-content a {
    display: inline-block;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0px 10px 5px 10px;
    
    line-height: 30px;
}
.views-field-field-tags .field-content a:hover {
    text-decoration: none;
}

.sidebar .views-field-field-expertise .views-label,
.sidebar .views-field-field-tags .views-label {
}

.sidebar .views-field-field-expertise .field-content a,
.sidebar .views-field-field-tags .field-content a {
  border: none;
  display: inline-block;
  line-height: 20px;
  border-radius: 2px;
  padding: 0 10px;
  margin: 5px;
}

.sidebar .views-field-field-expertise .field-content a:hover,
.sidebar .views-field-field-tags .field-content a:hover {
    text-decoration: none;
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
  background: #ccc;
  color: #fff;
  border: none;
  padding: 0px 4px;
  display: block;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
}

/* -------------- Form Elements   ------------- */
input {
  margin: 2px 0;
  padding: 4px;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.form-item {
  margin-bottom: 10px;
  margin-top: 2px;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}

/* description */
.form-item .description {
    font-style: italic;
    font-size: 12px;
    color: #b6b6b6;
}

/* ------------ Other inherited stykes ----------------*/
div.messages {
    margin: 10px;
}
#page-title {
    display: block;
    clear: both;
}
/*----------------- Primary tabs ----------------------*/
ul.primary.tabs {
    margin: 0px;
    border: none;
    padding: 0px;
    display: block;
}
ul.primary.tabs a {
    border: none;
    display: block;
    padding: 0px 50px 0px 50px;
    margin: 0px 10px 0px 0px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    float: left;
}
ul.primary.tabs li.active a {
    border: none;
}

/* ------------------- Submenu ----------------------------- */
.sidebar #block-system-main-menu h2 {
    display: none;
}
.sidebar .menu {
    margin: 0px;
    padding: 0px;
}
.sidebar .menu li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}
.sidebar .menu li a {
    color: #666666;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    line-height: 41px;
    font-size: 16px;
}
.sidebar .menu li.last a {
    border-bottom: none;
}
.sidebar .menu li a:hover {
    text-decoration: none;
}

/* ---------------- slashes after heading ----------------*/
#footer-wrapper .block > h2,
.sidebar .block > h2,
#content .region-content > .block > h2 {
    line-height: 20px;
    margin: 10px 0px 10px 0px;
    padding-right: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#footer-wrapper .block > h2:after, 
.sidebar .block > h2:after, 
#content .region-content > .block > h2:after {
    font-weight: normal;
    height: 20px;
    width: 100%;
    content: "/ / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / ";
    position: absolute;
    top: 0px;
    margin-left: 10px;
    overflow: hidden;
}

/* ----------- Citaat op homepage -------------------------*/
#block-views-citaat-block {
    position: relative;
    width: 100%;
    height: 310px;
    margin: 35px 10px;
}

#block-views-citaat-block h2 {
    display: none; /* hide title */
}

#block-views-citaat-block blockquote {
    z-index: 3;
    background: transparent url('../images/featured.png') no-repeat top left;
    height: 310px;
    line-height: 310px;
    padding: 0px;
    margin: 0px;
    padding-left: 690px;
    position: relative;   
}

#block-views-citaat-block blockquote p {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
#block-views-citaat-block blockquote cite {
    //font-size: 16px;    
    line-height: 30px;
}

#block-views-citaat-block img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 710px;
    height: 310px;
    z-index: 1;
}

#block-views-citaat-block .view-content span.citaat,
#block-views-citaat-block .view-content em {
    position: relative;
    z-index: 2;
}