body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#page-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}

#footer-wrapper .block > h2,
.sidebar .block > h2,
#content .region-content > .block > h2 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

/* ---------------- Tags en expertise in blokken ----------------- */
.views-field-field-tags .views-label {
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}
.views-field-field-tags .field-content a {
    
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.sidebar .views-field-field-expertise .views-label,
.sidebar .views-field-field-tags .views-label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
}

.sidebar .views-field-field-expertise .field-content a,
.sidebar .views-field-field-tags .field-content a {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

/* ----------- Citaat op homepage -------------------------*/
#block-views-citaat-block blockquote {
    font-weight: 300; /* light */
    font-size: 20px;
    font-style: italic;
}

#block-views-citaat-block blockquote cite {
    font-size: 16px;
}
/* --------------- Sitemap in footer ------------ */
#footer-columns .block-menu-block li {
    font-size: 16px;
}
#footer-columns .block-menu-block li li {
    font-weight: 300;
    font-size: 14px;
}

#footer-columns .block-menu-block a:hover {
    text-decoration: none;
}

/* --------------- Breadcrumb ------------ */
#breadcrumb {
    font-weight: 300;
    font-size: 14px;
}

#breadcrumb span.seperator {
    font-size: 16px;
}